body {
    font-family: Arial, sans-serif;
    background-color: #eef2f7;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #009970;
}

.container {
    width: 80%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.profile-header {
    background-color: #f7f8fc;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #e1e1e1;
}

.profile-header h2 {
    margin: 0;
    color: #333;
}

.profile-content {
    display: flex;
    height: 400px; /* Fixed height */
}

.profile-sidebar {
    width: 30%;
    padding: 20px;
    background-color: #f7f8fc;
    border-right: 1px solid #e1e1e1;
    text-align: center;
}



.profile-pic-container {
    width: 150px;
    height: 150px;
    margin: 0 auto 15px;
}

.profile-pic {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.profile-sidebar h3 {
    margin: 0;
    color: #333;
}

.profile-sidebar p {
    color: #777;
    margin: 5px 0 20px;
}

.profile-actions {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #28a745;
    color: #fff;
}

.profile-main {
    width: 70%;
    padding: 20px;
}

.profile-info h4 {
    color: #333;
    margin-bottom: 5px;
}

.profile-info p {
    color: #777;
    margin: 0 0 20px;
}

.form-popup {
    display: none; /* Hide form by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Add background overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
}

.form-container {
    width: 300px; /* Fixed width */
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-container label {
    margin-bottom: 10px;
    color: #333;
}

.form-container input[type=text], .form-container input[type=email], .form-container input[type=tel] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #f1f1f1;
    box-sizing: border-box;
}

.form-container input[type=text]:focus, .form-container input[type=email]:focus, .form-container input[type=tel]:focus {
    background-color: #ddd;
    outline: none;
}

.form-container .btn {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 4px;
}

.form-container .cancel {
    background-color: red;
}

.form-container .btn:hover, .open-button:hover {
    opacity: 0.9;
}
